Flask==3.0.3
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-Cors==4.0.1
Flask-WTF==1.2.1
itsdangerous==2.2.0
Werkzeug==3.0.4
Jinja2==3.1.4
python-dotenv==1.0.1
redis==5.0.3
apscheduler==3.10.4
gunicorn==22.0.0
openai==1.42.0
pandas==2.2.3
matplotlib==3.9.2
numpy==1.26.4
Pillow==10.4.0
WeasyPrint==61.2
cairocffi==1.7.1
reportlab==4.2.5
email-validator==2.2.0
requests==2.32.3
loguru==0.7.2
blinker==1.8.3
